In [2]:
import pandas as pd
from clean_tabular_data import *

In [3]:
images = pd.read_csv('Images.csv')
# print(df)
print(images.info())
print(images.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12604 entries, 0 to 12603
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12604 non-null  int64
 1   id          12604 non-null  object
 2   product_id  12604 non-null  object
dtypes: int64(1), object(2)
memory usage: 295.5+ KB
None
   Unnamed: 0                                    id  \
0           0  912bb259-3ad9-457b-9db1-ce1da9016057
1           1  b166d305-b852-4bdd-83f4-465b20da94fa
2           2  68f5a29d-0075-4d60-81c1-ab684a82e50c
3           3  f6a309d7-d247-446a-9b5e-aceefdd4334d
4           4  2c2b3a6f-15b3-4289-937a-15482d9f5781

                             product_id
0  5f5f57d7-778f-4336-bb10-b43863418c8c
1  5f5f57d7-778f-4336-bb10-b43863418c8c
2  c2c8949f-3cde-4651-a234-4a4a1b2a9ad4
3  c2c8949f-3cde-4651-a234-4a4a1b2a9ad4
4  8292aa4e-7f1b-4655-bf0e-f1f2c9e3ffaf

In [4]:
products = get_data_from_csv('Products.csv')
products = remove_null_val(products)
products = convert_price_to_num(products)

In [5]:
print(products['category'].str.split('/').str[0])
main_cat = products['category'].str.split('/').str[0]

0                 Home & Garden
1                 Home & Garden
2                 Home & Garden
3                 Home & Garden
12                Home & Garden
                  ...
11313    Video Games & Consoles
11314    Video Games & Consoles
11315    Video Games & Consoles
11316    Video Games & Consoles
11317    Video Games & Consoles
Name: category, Length: 6311, dtype: object

In [6]:
products['main_cat'] = main_cat

In [7]:
products['labels'] = products['category'].str.split('/').str[0].astype('category').cat.codes

In [8]:
print(products.info())
print(products['labels'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6311 entries, 0 to 11317
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6311 non-null   object
 1   id                   6311 non-null   object
 2   product_name         6311 non-null   object
 3   category             6311 non-null   object
 4   product_description  6311 non-null   object
 5   price                6311 non-null   float64
 6   location             6311 non-null   object
 7   main_cat             6311 non-null   object
 8   labels               6311 non-null   int8
dtypes: float64(1), int8(1), object(7)
memory usage: 449.9+ KB
None
0         6
1         6
2         6
3         6
12        6
         ..
11313    12
11314    12
11315    12
11316    12
11317    12
Name: labels, Length: 6311, dtype: int8

In [9]:
labels_map = dict(zip(products['main_cat'], products['labels']))

In [16]:
print(labels_map)

{'Home & Garden ': 6, 'Baby & Kids Stuff ': 1, 'DIY Tools & Materials ': 4, 'Music, Films, Books & Games ': 7, 'Phones, Mobile Phones & Telecoms ': 10, 'Clothes, Footwear & Accessories ': 2, 'Other Goods ': 9, 'Health & Beauty ': 5, 'Sports, Leisure & Travel ': 11, 'Appliances ': 0, 'Computers & Software ': 3, 'Office Furniture & Equipment ': 8, 'Video Games & Consoles ': 12}

In [11]:
import json

with open('labels_map.json', 'w') as outfile:
    json.dump(labels_map, outfile)

In [18]:
new_df = pd.merge(images, products[['labels', 'id']], left_on='product_id', right_on='id')
# print(new_df.head())
new_df.rename(columns={"id_x": "id"}, inplace=True)
new_df.drop('id_y', axis=1, inplace=True)
new_df.drop('product_id', axis=1, inplace=True)
new_df.drop('Unnamed: 0', axis=1, inplace=True)
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11122 entries, 0 to 11121
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      11122 non-null  object
 1   labels  11122 non-null  int8
dtypes: int8(1), object(1)
memory usage: 184.6+ KB
None

In [19]:
new_df['id'] = new_df['id'].astype('str') + '.jpg'

In [20]:
print(new_df['id'])

0        912bb259-3ad9-457b-9db1-ce1da9016057.jpg
1        b166d305-b852-4bdd-83f4-465b20da94fa.jpg
2        68f5a29d-0075-4d60-81c1-ab684a82e50c.jpg
3        f6a309d7-d247-446a-9b5e-aceefdd4334d.jpg
4        2c2b3a6f-15b3-4289-937a-15482d9f5781.jpg
                           ...
11117    cdec1c5c-c4b1-42db-afbe-3fa68ea4b87d.jpg
11118    dc99e40f-6b15-494d-9fb7-f0d02e9781f9.jpg
11119    c8488028-bf07-4258-a4c2-56d2fe387835.jpg
11120    c6113145-89c8-47cd-9211-38f29d016cc7.jpg
11121    ed2aaf88-616c-4e6b-af49-bbdf7c0fbd06.jpg
Name: id, Length: 11122, dtype: object

In [21]:
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11122 entries, 0 to 11121
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      11122 non-null  object
 1   labels  11122 non-null  int8
dtypes: int8(1), object(1)
memory usage: 184.6+ KB
None

In [22]:
new_df.to_csv('training_data.csv', index=False)

In [24]:
import os

In [26]:
annot_file = pd.read_csv("training_data.csv")
print(os.path.join("/Users/venus/Downloads/cleaned_images"), annot_file.iloc[0, 0])

/Users/venus/Downloads/cleaned_images 912bb259-3ad9-457b-9db1-ce1da9016057.jpg