In [7]:
import pandas as pd
from clean_tabular_data import *

In [21]:
images = pd.read_csv('Images.csv')
# print(df)
print(images.info())
print(images.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12604 entries, 0 to 12603
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12604 non-null  int64
 1   id          12604 non-null  object
 2   product_id  12604 non-null  object
dtypes: int64(1), object(2)
memory usage: 295.5+ KB
None
   Unnamed: 0                                    id  \
0           0  912bb259-3ad9-457b-9db1-ce1da9016057
1           1  b166d305-b852-4bdd-83f4-465b20da94fa
2           2  68f5a29d-0075-4d60-81c1-ab684a82e50c
3           3  f6a309d7-d247-446a-9b5e-aceefdd4334d
4           4  2c2b3a6f-15b3-4289-937a-15482d9f5781

                             product_id
0  5f5f57d7-778f-4336-bb10-b43863418c8c
1  5f5f57d7-778f-4336-bb10-b43863418c8c
2  c2c8949f-3cde-4651-a234-4a4a1b2a9ad4
3  c2c8949f-3cde-4651-a234-4a4a1b2a9ad4
4  8292aa4e-7f1b-4655-bf0e-f1f2c9e3ffaf

In [9]:
products = get_data_from_csv('Products.csv')
products = remove_null_val(products)
products = convert_price_to_num(products)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11318 entries, 0 to 11317
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           11195 non-null  object
 1   id                   8001 non-null   object
 2   product_name         8001 non-null   object
 3   category             7156 non-null   object
 4   product_description  7156 non-null   object
 5   price                6311 non-null   object
 6   location             6311 non-null   object
dtypes: object(7)
memory usage: 619.1+ KB
None
  Unnamed: 0                                    id  \
0          0  243809c0-9cfc-4486-ad12-3b7a16605ba9
1          1  1c58d3f9-8b93-47ea-9415-204fcc2a22e6
2          2  860673f1-57f6-47ba-8d2f-13f9e05b8f9a
3          3  59948726-29be-4b35-ade5-bb2fd7331856
4          4  16dbc860-696e-4cda-93f6-4dd4926573fb

                                        product_name  \
0  Mirror wall art | in Wokingham, Berkshire | Gu...
1  Stainless Steel Food Steamer | in Inverness, H...
2  Sun loungers | in Skegness, Lincolnshire | Gum...
3  Coffee side table from Ammunition ammo box hai...
4  Modern Shannon Sofa for sale at low cost | in ...

                                            category  \
0  Home & Garden / Dining, Living Room Furniture ...
1              Home & Garden / Other Household Goods
2  Home & Garden / Garden & Patio / Outdoor Setti...
3  Home & Garden / Dining, Living Room Furniture ...
4  Home & Garden / Dining, Living Room Furniture ...

                                 product_description    price  \
0  Mirror wall art. Posted by Nisha in Dining, Li...    £5.00
1  Morphy Richard’s (model no 48755)Stainless ste...   £20.00
2  I have 2 of these - collection only as I don’t...   £20.00
3  Great reclaimed army ammunition box used as co...  £115.00
4  New Design Shannon Corner sofa  5 Seater Avail...      NaN

                 location
0    Wokingham, Berkshire
1     Inverness, Highland
2  Skegness, Lincolnshire
3      Radstock, Somerset
4                     NaN

In [16]:
print(products['category'].str.split('/').str[0])

0                 Home & Garden
1                 Home & Garden
2                 Home & Garden
3                 Home & Garden
12                Home & Garden
                  ...
11313    Video Games & Consoles
11314    Video Games & Consoles
11315    Video Games & Consoles
11316    Video Games & Consoles
11317    Video Games & Consoles
Name: category, Length: 6311, dtype: object

In [25]:
products['labels'] = products['category'].str.split('/').str[0].astype('category').cat.codes

In [28]:
print(products.info())
print(products['labels'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6311 entries, 0 to 11317
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6311 non-null   object
 1   id                   6311 non-null   object
 2   product_name         6311 non-null   object
 3   category             6311 non-null   object
 4   product_description  6311 non-null   object
 5   price                6311 non-null   float64
 6   location             6311 non-null   object
 7   labels               6311 non-null   int8
dtypes: float64(1), int8(1), object(6)
memory usage: 658.6+ KB
None
0         6
1         6
2         6
3         6
12        6
         ..
11313    12
11314    12
11315    12
11316    12
11317    12
Name: labels, Length: 6311, dtype: int8

In [37]:
new_df = pd.merge(images, products[['labels', 'id']], left_on='product_id', right_on='id')
# print(new_df.head())
new_df.rename(columns={"id_x": "id"}, inplace=True)
new_df.drop('id_y', axis=1, inplace=True)
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11122 entries, 0 to 11121
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11122 non-null  int64
 1   id          11122 non-null  object
 2   product_id  11122 non-null  object
 3   labels      11122 non-null  int8
dtypes: int64(1), int8(1), object(2)
memory usage: 358.4+ KB
None

In [38]:
new_df.to_csv('training_data.csv')